@import "variables";

header {
    border-bottom: 1px solid $color-black;
    text-align: center;
    padding: 10px 10px;
}

.logo {
    height: 120px;
    width: 60;
    border-radius: 10px;
}

.nav-link {
    color: $color-black !important;
    font-family: Formula1-Bold;
    font-size: x-large;

    &:hover {
        color: $color-red !important;
    }
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
