@import "variables";

.marg {
  padding-bottom: 50px;
  padding-top: 20px;
  
}

.typePhotoEsc {
  border: 5px $color-verde solid;
  border-radius: 25%;
  width: 110%;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.nomEscu {
  font-family: Formula1-Italic;
  color: $color-blanco;
  text-shadow: 5px 7px 5px $color-black;
  padding-top: 10px;
}

.bordefoto {
  border-radius: 20px;
  color: $color-black;
  border: solid 5px;
  box-shadow: 5px 7px 5px;
}