@import "variables";
@import "fuentes";

h3 {
  font-family: Formula1-Bold;
  color: $color-black;
  text-shadow: none
}

footer {
  margin: 20px;
  padding: 20px;
  border-top: 1px solid $color-black;
  text-align: center;
}